<div class="icon-header">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 3.75C9.92893 3.75 8.25 5.42893 8.25 7.5C8.25 9.57107 9.92893 11.25 12 11.25C14.0711 11.25 15.75 9.57107 15.75 7.5C15.75 5.42893 14.0711 3.75 12 3.75ZM6.75 7.5C6.75 4.6005 9.10051 2.25 12 2.25C14.8995 2.25 17.25 4.6005 17.25 7.5C17.25 10.3995 14.8995 12.75 12 12.75C9.10051 12.75 6.75 10.3995 6.75 7.5ZM12 16.75C8.73336 16.75 5.75394 18.1724 3.5457 20.5145C3.26155 20.8159 2.78688 20.8299 2.4855 20.5457C2.18412 20.2615 2.17015 19.7869 2.4543 19.4855C4.91764 16.8728 8.28068 15.25 12 15.25C15.7193 15.25 19.0824 16.8728 21.5457 19.4855C21.8299 19.7869 21.8159 20.2615 21.5145 20.5457C21.2131 20.8299 20.7385 20.8159 20.4543 20.5145C18.2461 18.1724 15.2666 16.75 12 16.75Z"
      fill="#222222" />
  </svg>
</div>