<div class="icon-header">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7932 5.01859C17.8719 2.9938 14.7741 2.9938 12.8528 5.01859C12.3892 5.50717 11.6108 5.50717 11.1472 5.01859C9.2259 2.9938 6.12806 2.9938 4.20681 5.01859C2.2644 7.06568 2.2644 10.4001 4.20681 12.4472L10.3678 18.9403C11.2551 19.8753 12.7449 19.8753 13.6322 18.9403L19.7932 12.4472C21.7356 10.4001 21.7356 7.06567 19.7932 5.01859ZM12 3.75021C14.5266 1.34045 18.4455 1.41908 20.8813 3.98612C23.3729 6.61197 23.3729 10.8538 20.8813 13.4797L14.7203 19.9727C13.2416 21.5311 10.7584 21.5311 9.27971 19.9727L3.11869 13.4797C0.627103 10.8538 0.627102 6.61198 3.11869 3.98612C5.55446 1.41908 9.47336 1.34045 12 3.75021Z" fill="#222222"/>
    </svg>    
</div>